html,
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#owl-demo .item {
    margin: 3px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #29FFE0;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #197f77;
}

.mcontainer1 {
    max-width: 100%;
}

.maind {
    background-image: url(../images/background.png);
    width: 720px;
    height: 1382px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin: auto;
}

.maind_pg3 {
    background-image: url(../images/background.png);
    width: 720px;
    height: 1382px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin: auto;
}

.deslogo {
    position: relative;
}

.toplogo {
    margin-top: 25px;
    margin-left: 40px;
}

.toplogopg2 {
    margin-top: 25px;
    margin-left: 40px;
}

.unleashed {
    margin-top: 40px;
}

.unleashedpg2 {
    margin-top: 30px;
}

.textbox {
    width: 592px;
    padding-top: 40px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.brhide {
    display: none;
}

.test1 {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    line-height: 45px;
    color: #ffffff;
    text-align: center;
}

.test2 {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    line-height: 45px;
    color: #ffffff;
    text-align: center;
}

.test2pg2 {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    line-height: 45px;
    color: #ffffff;
    text-align: center;
}

.ctabox {
    width: 220px;
    margin: auto;
}

.letsgo {
    max-width: 210px;
    display: block;
    margin: auto;
}

/* Page 2 */

.howto {
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    margin-top: -20px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
}


.howtopg3 {
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    margin-top: -20px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
}

/* .caroselbox
{
    width: 260px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto
} */

.letsgopg2 {
    max-width: 210px;
    display: block;
    margin: auto;
}



.caroimg {
    height: 322px;
    width: 554px !important;
    margin: auto;
}

/* .owl-carousel {
    max-width: 360px;
    margin: auto;
} */


/* Page 3 */

.screenbox
{
    max-width: 500px;
    margin: auto;
}

.test2pg3_up {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;
    text-align: center;
    margin-top: -4px;
    margin-bottom: 8px;
}

.test3pg3_down {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    text-align: center;
    margin-top: -4px;
    margin-bottom: 8px;
}

.screen_1 {
    display: block;
    width: 410px;
    height: 236px;
    margin: auto;
}

.textbox_3top {
    width: 592px;
    padding-top: 29px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.textbox3_down
{
    margin-top: 18px;
}


.ctabox3 {
    width: 485px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.toplogopg3 {
    height: 66px;
    margin-top: 15px;
    margin-left: 40px;
}


.unleashedpg3 {
    height: 175px;
    margin-top: 10px;
}

.letsgopg3 {
    max-width: 210px;
    display: block;
    margin: auto;
}









/* media queries */

@media (max-width: 720px) {
    body {
        overflow: hidden;
    }

    .toplogo {
        height: 66px;
        margin-top: 30px;
        margin-left: 30px;
    }

    .unleashed {
        height: 168px;
        margin-top: 10px;
    }

    .toplogopg2 {
        height: 66px;
        margin-top: 30px;
        margin-left: 30px;
    }

    .unleashedpg2 {
        height: 168px;
        margin-top: 10px;
    }

    .ctabox {
        width: 100%;
        margin: auto;
    }

    .maind {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        -ms-content-zooming: none;
        /* position: absolute; */
        width: 100%;
        /* height: 100%; */
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        /* overflow: scroll; */
    }


    .maind_pg3 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        -ms-content-zooming: none;
        /* position: absolute; */
        width: 100%;
        /* height: 100%; */
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        /* overflow: scroll; */
    }

    .toplogopg3 {
        height: 58px;
        margin-top: 18px;
        margin-left: 25px;
    }

    .unleashedpg3 {
        height: 168px;
        margin-top: 10px;
    }
}

@media (max-width: 670px) {

    .unleashedpg2 {
        height: 146px;
        margin-top: 10px;
    }

    .toplogopg2 {
        height: 51px;
        margin-top: 25px;
        margin-left: 25px;
    }


    .toplogo {
        height: 58px;
        margin-top: 24px;
        margin-left: 30px;
    }

    .unleashed {
        height: 144px;
        margin-top: 25px;
    }

    .unleashedpg3 {
        height: 157px;
        margin-top: 10px;
    }

    .textbox_3top {
        width: 100%;
        padding-top: 12px;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
    }

    .textbox3_down {
        margin-top: 20px;
    }

    .textbox {
        width: 520px;
        padding-top: 20px;
        margin: auto;
    }

    .test1 {
        font-size: 23px;
        line-height: 40px;
    }

    .test2 {
        font-size: 23px;
        line-height: 40px;
    }

    .test2pg2 {
        font-size: 23px;
        line-height: 40px;
    }

    .howto {
        font-size: 28px;
        margin-top: 0px;
        line-height: 20px;
    }

    .howtopg3 {
        font-size: 28px;
        margin-top: 0px;
        line-height: 20px;
    }

    .letsgo {
        height: 56px;
    }

    .letsgopg2 {
        height: 56px;
    }

    .letsgopg3 {
        height: 56px;
    }

}

@media (max-width: 598px) {

    .maind {
        background-image: url(../images/background1.png);
    }

    .toplogo {
        height: 50px;
        margin-top: 21px;
        margin-left: 23px;
    }

    .toplogopg2 {
        height: 47px;
        margin-top: 25px;
        margin-left: 25px;
    }

    .toplogopg3 {
        height: 50px;
        margin-top: 18px;
        margin-left: 25px;
    }

    .unleashedpg2 {
        height: 136px;
        margin-top: 10px;
    }

    .unleashedpg3 {
        height: 139px;
        margin-top: 10px;
    }

    .unleashed {
        height: 138px;
        margin-top: 33px;
    }
    .caroimg {
        height: 285px;
        width: 472px !important;
        margin: auto;
    }


    .textbox {
        width: 100%;
        padding-top: 15px;
        margin: auto;
    }

    .test1 {
        font-size: 20px;
        line-height: 36px;
    }

    .test2 {
        font-size: 20px;
        line-height: 36px;
    }

    .test2pg3_up {
        font-size: 26px;
        line-height: 42px;
        margin-top: -4px;
        margin-bottom: 8px;
    }

    .test3pg3_down {
        font-size: 22px;
        line-height: 28px;
        margin-top: -4px;
        margin-bottom: 8px;
    }

    .letsgo {
        height: 50px;
    }
}

@media (max-width: 520px) {

    .maind {
        background-image: url(../images/background2.png);
        position: absolute;
        height: 100%;

    }

    .maind_pg3 {
        /* position: absolute; */
        width: 100%;
        height: 1100px;
        /* overflow: scroll; */
    }

    .test2pg2 {
        font-size: 18px;
        line-height: 24px;
        margin-top: -3px;
    }

    .toplogopg2 {
        height: 44px;
        margin-top: 15px;
        margin-left: 20px;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: -2px;
    }

    .howtopg3 {
        font-size: 23px;
        margin-top: 0px;
        line-height: 19px;
    }

    .toplogo {
        height: 50px;
        margin-top: 23px;
        margin-left: 25px;
    }

    .unleashedpg2 {
        height: 112px;
        margin-top: 4px;
    }
    .caroimg {
        height: 137px;
        width: 279px !important;
        margin: auto;
        margin-top: -9px;
    }

    .letsgopg2 {
        height: 41px;
    }

    .unleashed {
        height: 128px;
        margin-top: 18px;
    }

    .test1 {
        font-size: 22px;
        line-height: 38px;
    }

    .test2 {
        font-size: 22px;
        line-height: 38px;
    }


    .toplogopg3 {
        height: 43px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .unleashedpg3 {
        height: 120px;
        margin-top: 10px;
    }

    .screen_1 {
        display: block;
        width: 330px;
        height: 181px;
        margin: auto;
    }

    .textbox_3top {
        width: 100%;
        padding-top: 12px;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
    }

    .test2pg3_up {
        font-size: 20px;
        line-height: 36px;
        margin-top: -6px;
        margin-bottom: 8px;
    }

    .test3pg3_down {
        font-size: 18px;
        line-height: 28px;
        margin-top: -4px;
        margin-bottom: 8px;
    }

    .letsgopg3 {
        height: 38px;
    }

    .ctabox3 {
        width: 346px;
        margin: auto;
        display: flex;
        align-items: center;
        margin-top: 16px;
        justify-content: space-between;
    }

}

@media (max-width: 490px) {
    .toplogo {
        height: 45px;
        margin-top: 20px;
        margin-left: 22px;
    }

    .test2pg2 {
        font-size: 16px;
        line-height: 24px;
        margin-top: -2px;
    }
       

    .unleashedpg2 {
        height: 107px;
        margin-top: 4px;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 3px;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 8px;
        height: 8px;
        margin: 5px 7px;
        background: #29FFE0;
    }

    .unleashedpg2 {
        height: 100px;
        margin-top: 4px;
    }

    .howto {
        font-size: 20px;
        margin-top: -12px;
        line-height: 19px;
        margin-bottom: 12px;
    }

    .caroimg {
        height: 134px;
        width: 265px !important;
        margin: auto;
        /* margin-bottom: -11px; */
        margin-top: -10px;
    }

    .letsgopg2 {
        height: 36px;
    }

    .test1 {
        font-size: 19px;
        line-height: 32px;
    }

    .test2 {
        font-size: 19px;
        line-height: 32px;
    }

    .toplogopg3 {
        height: 41px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .unleashedpg3 {
        height: 110px;
        margin-top: 10px;
    }
}

@media (max-width: 440px) {

    .maind_pg3 {
        /* position: absolute; */
        width: 100%;
        height: 1003px;
        /* overflow: scroll; */
    }

    .toplogo {
        height: 45px;
        margin-top: 20px;
        margin-left: 22px;
    }

    .unleashed {
        height: 106px;
        margin-top: 10px;
    }

    .toplogopg2 {
        height: 32px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .unleashedpg2 {
        height: 96px;
        margin-top: 9px;
    }

    .howto {
        font-size: 19px;
        margin-top: -9px;
        line-height: 20px;
    }

    .test2pg2 {
        font-size: 17px;
        line-height: 32px;
        margin-top: -6px;
        margin-bottom: 3px;
    }

    .caroimg {
        height: 126px;
        width: 236px !important;
        margin: auto;
        /* margin-bottom: -11px; */
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 8px;
        height: 8px;
        margin: 4px 7px;
        background: #29FFE0;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 200ms ease;
        border-radius: 30px;
    }

    .letsgopg2 {
        height: 36px;
    }

    .toplogopg3 {
        height: 38px;
        margin-top: 18px;
        margin-left: 18px;
    }

    .unleashedpg3 {
        height: 96px;
        margin-top: 10px;
    }

    .howtopg3 {
        font-size: 21px;
        margin-top: 0px;
        line-height: 19px;
    }

    .test2pg3_up {
        font-size: 19px;
        line-height: 34px;
        margin-top: -6px;
        margin-bottom: 8px;
    }

    .screen_1 {
        display: block;
        width: 288px;
        height: 168px;
        margin: auto;
    }

    .ctabox3 {
        width: 304px;
        margin: auto;
        display: flex;
        align-items: center;
        margin-top: 16px;
        justify-content: space-between;
    }

    .letsgopg3 {
        height: 33px;
    }

    .test3pg3_down {
        font-size: 16px;
        line-height: 25px;
        margin-top: -4px;
        margin-bottom: 8px;
    }

}

@media (max-width: 400px) {

    .maind_pg3 {
        width: 100%;
        height: 910px;
    }

    .toplogo {
        height: 38px;
        margin-top: 20px;
        margin-left: 22px;
    }

    .unleashed {
        height: 95px;
        margin-top: 10px;
    }

    .test1 {
        font-size: 17px;
        line-height: 31px;
    }

    .test2 {
        font-size: 17px;
        line-height: 31px;
    }

    .howto {
        font-size: 19px;
        margin-top: -10px;
        line-height: 20px;
    }

    .test2pg2 {
        font-size: 17px;
        line-height: 29px;
    }

    .caroimg {
        height: 120px;
        width: 211px !important;
        margin: auto;
        /* margin-bottom: -19px; */
    }

    .letsgo {

        height: 40px;
    }

    .ctabox {
        margin-top: 20px;
    }

    .ctabox2 {
        margin-top: 0px;
    }

    .toplogopg3 {
        height: 34px;
        margin-top: 18px;
        margin-left: 18px;
    }

    .unleashedpg3 {
        height: 89px;
        margin-top: 10px;
    }

    .howtopg3 {
        font-size: 19px;
        margin-top: 0px;
        line-height: 14px;
    }

    .test2pg3_up {
        font-size: 17px;
        line-height: 29px;
        margin-top: -6px;
        margin-bottom: 8px;
    }

    .screen_1 {
        display: block;
        width: 272px;
        height: 151px;
        margin: auto;
    }

    .ctabox3 {
        width: 283px;
        margin: auto;
        display: flex;
        align-items: center;
        margin-top: 16px;
        justify-content: space-between;
    }

    .letsgopg3 {
        height: 30px;
    }

    .test3pg3_down {
        font-size: 14px;
        line-height: 23px;
        margin-top: -4px;
        margin-bottom: 8px;
    }
}

@media (max-width: 397px)
{
    .howto {
        font-size: 18px;
        margin-top: -10px;
        line-height: 20px;
        margin-bottom: 11px;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 6px;
    }

    .test2pg2 {
        font-size: 16px;
        line-height: 28px;
    }
        

    .caroimg {
        height: 120px;
        width: 211px !important;
        margin: auto;
        /* margin-bottom: -19px; */
    }
}

@media (max-width: 379px)
{
    .toplogopg2 {
        height: 28px;
        margin-top: 19px;
        margin-left: 20px;
    }

    .unleashedpg2 {
        height: 82px;
        margin-top: 4px;
    }

    .howto {
        font-size: 18px;
        margin-top: -3px;
        line-height: 18px;
    }

    .test2pg2 {
        font-size: 15px;
        line-height: 26px;
        margin-top: -3px;
    }

    .letsgopg2 {
        height: 34px;
    }

    .caroimg {
        height: 128px;
        width: 235px !important;
        margin: auto;
    }
    
}

@media (max-width: 359px) {
    .toplogo {
        height: 29px;
        margin-top: 20px;
        margin-left: 22px;
    }

    .unleashed {
        height: 81px;
        margin-top: 10px;
    }

    .textbox {
        padding-left: 10px;
        padding-right: 10px;
    }

    .caroimg {
        height: 111px;
        width: 200px !important;
        margin: auto;
    }

    .test1 {
        font-size: 14px;
        line-height: 30px;
    }

    .test2 {
        font-size: 14px;
        line-height: 30px;
    }

    .letsgo {
        height: 40px;
    }

    .letsgopg2 {
        height: 32px;
    }

    .maind_pg3 {
        width: 100%;
        height: 850px;
    }

    .toplogopg3 {
        height: 34px;
        margin-top: 18px;
        margin-left: 18px;
    }

    .unleashedpg3 {
        height: 83px;
        margin-top: 10px;
    }

    .howtopg3 {
        font-size: 18px;
        margin-top: 0px;
        line-height: 14px;
    }

    .test2pg3_up {
        font-size: 17px;
        line-height: 26px;
        margin-top: -8px;
        margin-bottom: 8px;
    }

    .screen_1 {
        display: block;
        width: 256px;
        height: 145px;
        margin: auto;
    }

    .test3pg3_down {
        font-size: 13px;
        line-height: 22px;
        margin-top: -5px;
        margin-bottom: 8px;
    }
    
    
}

@media (max-width: 330px)
{
    .howto {
        font-size: 16px;
        margin-top: -3px;
        line-height: 18px;
    }

    .test2pg2 {
        font-size: 14px;
        line-height: 26px;
        margin-top: -3px;
    }

    .maind_pg3 {
        width: 100%;
        height: 787px;
    }

    .toplogopg3 {
        height: 30px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .unleashedpg3 {
        height: 76px;
        margin-top: 10px;
    }

    .howtopg3 {
        font-size: 17px;
        margin-top: 0px;
        line-height: 14px;
    }

    .test2pg3_up {
        font-size: 14px;
        line-height: 26px;
        margin-top: -9px;
        margin-bottom: 8px;
    }

    .screen_1 {
        display: block;
        width: 228px;
        height: 112px;
        margin: auto;
    }

    .ctabox3 {
        width: 260px;
        margin: auto;
        display: flex;
        align-items: center;
        margin-top: 16px;
        justify-content: space-between;
    }

    .letsgopg3 {
        height: 28px;
    }

    .test3pg3_down {
        font-size: 12px;
        line-height: 21px;
        margin-top: -5px;
        margin-bottom: 8px;
    }
}