html,
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


.mcontainer1 {
    max-width: 100%;

}

.maind {
    background-image: url(../images/background.png);
    width: 720px;
    height: 1382px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin: auto;
}

.deslogo {
    position: relative;
}

.toplogo {
    margin-top: 25px;
    margin-left: 40px;
}

.unleashed {
    margin-top: 40px;
}

.textbox {
    width: 592px;
    padding-top: 40px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.brhide
{
    display: none;
}
.test1
{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;line-height: 45px;
    color: #ffffff;
    text-align: center;
}

.test2
{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;line-height: 45px;
    color: #ffffff;
    text-align: center;
}

.ctabox
{
    width: 220px;
    margin: auto;
}

.letsgo
{
    max-width: 210px;
    display: block;
    margin: auto;
}

/* media queries */

@media (max-width: 720px) {
    body {
        overflow: hidden;
    }

    .toplogo {
        height: 66px;
        margin-top: 30px;
        margin-left: 30px;
    }

    .unleashed {
        height: 168px;
        margin-top: 10px;
    }

    .ctabox
{
    width: 100%;
    margin: auto;
}

    .maind {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        -ms-content-zooming: none;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        /* overflow: scroll; */
    }
}

@media (max-width: 670px) {
    .toplogo {
        height: 58px;
        margin-top: 24px;
        margin-left: 30px;
    }

    .unleashed {
        height: 144px;
        margin-top: 25px;
    }

    .textbox {
        width: 520px;
        padding-top: 20px;
        margin: auto;
    }

    .test1
    {
        font-size: 23px;
        line-height: 40px;
    }

    .test2
    {
        font-size: 23px;
        line-height: 40px;
    }

    .letsgo
    {
        height: 56px;
    }

}

@media (max-width: 598px) {
    .toplogo {
        height: 50px;
        margin-top: 21px;
        margin-left: 23px;
    }

    .unleashed {
        height: 138px;
        margin-top: 33px;
    }

    .textbox {
        width: 100%;
        padding-top: 15px;
        margin: auto;
    }

    .test1
    {
        font-size: 20px;
        line-height: 36px;
    }

    .test2
    {
        font-size: 20px;
        line-height: 36px;
    }

    .letsgo
    {
        height: 50px;
    }
}

@media (max-width: 520px) {
    .toplogo {
        height: 50px;
        margin-top: 23px;
        margin-left: 25px;
    }

    .unleashed {
        height: 128px;
        margin-top: 18px;
    }

    .test1
    {
        font-size: 22px;
        line-height: 38px;
    }

    .test2
    {
        font-size: 22px;
        line-height: 38px;
    }

}

@media (max-width: 490px) {
    .toplogo {
        height: 45px;
        margin-top: 20px;
        margin-left: 22px;
    }

    .unleashed {
        height: 121px;
        margin-top: 10px;
    }

    .test1
    {
        font-size: 20px;
        line-height: 32px;
    }

    .test2
    {
        font-size: 20px;
        line-height: 32px;
    }
}

@media (max-width: 440px) {
    .toplogo {
        height: 45px;
        margin-top: 20px;
        margin-left: 22px;
    }
    
    .unleashed {
        height: 114px;
        margin-top: 10px;
    }
}